.merch-card {
  width: max-content;
  background-color: #c71a1a;

  color: #111111;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  .image {
    width: max-content;
    height: max-content;
    background-color: aqua;
    margin: 5px;
  }
}
