.home {
  .image {
    height: 100vh;
    // margin-top: -70px;
    // font-size: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .home-tile {
    width: 100%;
    // background-color: beige;
    display: flex;
    text-align: center;
    // height: max-content;
    .carousel {
      background-color: #d9d9d9;
      border-radius: 40px;
      margin: 14px;
      padding: 20px;
      .project-slide {
        display: flex;
        align-items: center;
        .img-place {
          background-color: #000000;
          border-radius: 40px;
          margin: 5px auto;
          width: 470px;
          height: 470px;
          overflow: hidden;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .icon {
          margin: 10px;
          font-size: 20px;
          color: #111111;
        }
      }

      button {
        margin: 3px;
        color: #ffffff;
        background-color: #c71a1a;
        border-radius: 5px;
        .icon {
          margin-right: 5px;
          color: #111111;
        }
        &:hover {
          color: #c71a1a;
          background-color: #111111;
          .icon {
            color: #ffffff;
          }
        }
      }
    }
    .feed {
      width: max-content;
      background-color: #d9d9d9;
      margin: 14px;
      border-radius: 40px;
      padding: 20px;
    }
  }
  .about {
    border-radius: 40px;
    padding: 20px;
    background-color: #d9d9d9;
    h5 {
      text-align: center;
    }

    .text {
      color: #111111;
    }
    .image {
      float: right;
      width: max-content;
      height: max-content;
    }
    .media-links {
      font-size: 24px;
      .icon {
        margin: 12px;
        color: #111111;
        &:hover {
          color: rgb(165, 155, 96);
        }
      }
    }
  }
}
