.bg {
  height: 70vh;
  .merch {
    color: #111111;
    text-align: center;
    background-color: #c71a1a;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10vh;
    .merch-items {
      display: flex;
      overflow: scroll;
    }
  }
}
