.discography {
  p {
    color: #ffffff;
  }
  .audio-section {
    margin: 10px;
    text-align: center;
    h2 {
      margin: 20px;
    }
  }
}
//   .video-section {
//     margin: 10px;
//     text-align: center;
//   }
// }
